body {
    background: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#block1 {
    background: green;
    width: 33%;
    height: 70px;
    display: inline-block;
}
#block {
    background: grey;
    width: 33%;
    height: 70px;
    display: inline-block;
    float: right;
}
#block1 {
    background: green;
    width: 33%;
    height: 70px;
    display: inline-block;
}


#container {
    background: yellow;
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 580px;
}

#block2 {
    background: brown;
    width: 100%;
    height: 25px;
}


#block3 {
    background: blue;
    display: inline-block;
    width: 50%;
    height: 280px;
    float: left;
}
#block4 {
    background: orange;
 
    width: 50%;
    height: 280px;
    float: right;
}

#clear {
    clear: both;
}

#block5 {
    display: inline-block;
    background: silver;
    width: 25%;
    height: 150px;
 }
 #block5 {
    display: inline-block;
    background: silver;
    width: 25%;
    height: 150px;
 }
 #block5 {
    display: inline-block;
    background: silver;
    width: 25%;
    height: 150px;
    float: right;
 }
 #block5 {
    display: inline-block;
    background: silver;
    width: 25%;
    height: 150px;
 }
 
